@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@import "tailwindcss";

/* Preline UI */
/* Flux / vendor css */
@import '../../vendor/livewire/flux/dist/flux.css';

/* Preline UI (apenas o CSS) */
@import "../../node_modules/preline/variants.css";
@import '../../vendor/power-components/livewire-powergrid/resources/css/tailwind4.css';

@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';
@source '../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php';
@source '../../vendor/power-components/livewire-powergrid/resources/views/**/*.php';


/* Custom dark variant for Flux components */

@custom-variant dark (&:where(.dark, .dark *));




/* Re-assign Flux's gray of choice... */
@theme {
    --color-zinc-50: var(--color-gray-50);
    --color-zinc-100: var(--color-gray-100);
    --color-zinc-200: var(--color-gray-200);
    --color-zinc-300: var(--color-gray-300);
    --color-zinc-400: var(--color-gray-400);
    --color-zinc-500: var(--color-gray-500);
    --color-zinc-600: var(--color-gray-600);
    --color-zinc-700: var(--color-gray-700);
    --color-zinc-800: var(--color-gray-800);
    --color-zinc-900: var(--color-gray-900);
    --color-zinc-950: var(--color-gray-950);
     --color-pg-primary-50: oklch(0.985 0 0);
 --color-pg-primary-100: oklch(0.97 0 0);
 --color-pg-primary-200: oklch(0.922 0 0);
 --color-pg-primary-300: oklch(0.87 0 0);
 --color-pg-primary-400: oklch(0.708 0 0);
 --color-pg-primary-500: oklch(0.556 0 0);
 --color-pg-primary-600: oklch(0.439 0 0);
 --color-pg-primary-700: oklch(0.371 0 0);
 --color-pg-primary-800: oklch(0.269 0 0);
 --color-pg-primary-900: oklch(0.205 0 0);
 --color-pg-primary-950: oklch(0.145 0 0);
    
}
@theme {
    --color-accent: var(--color-cyan-600);
    --color-accent-content: var(--color-cyan-600);
    --color-accent-foreground: var(--color-white);
}
@layer theme {
    .dark {
        --color-accent: var(--color-cyan-600);
        --color-accent-content: var(--color-cyan-400);
        --color-accent-foreground: var(--color-white);
    }
}
/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);
[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
   
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
